# datetime â€” Date and Time Value Manipulation

**Purpose**:	The datetime module includes functions and classes for doing date and time parsing, formatting, and arithmetic.
datetime contains functions and classes for working with dates and times, separately and together.

## Times

In [1]:
import datetime

t = datetime.time(1, 2, 3)
print(t)
print('hour       :', t.hour)
print('minute     :', t.minute)
print('second     :', t.second)
print('microsecond:', t.microsecond)
print('tzinfo     :', t.tzinfo)

# The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be correct.
# A time instance only holds values of time, and not a date associated with the time.

01:02:03
hour       : 1
minute     : 2
second     : 3
microsecond: 0
tzinfo     : None

In [2]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

# The min and max class attributes reflect the valid range of times in a single day.

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

## Dates

Calendar date values are represented with the date class. Instances have attributes for year, month, and day. 

It is easy to create a date representing the current date using the `today()` class method.

In [3]:
today = datetime.date.today()
print(today)
print('ctime  :', today.ctime())
tt = today.timetuple()
print('tuple  : tm_year  =', tt.tm_year)
print('         tm_mon   =', tt.tm_mon)
print('         tm_mday  =', tt.tm_mday)
print('         tm_hour  =', tt.tm_hour)
print('         tm_min   =', tt.tm_min)
print('         tm_sec   =', tt.tm_sec)
print('         tm_wday  =', tt.tm_wday)
print('         tm_yday  =', tt.tm_yday)
print('         tm_isdst =', tt.tm_isdst)
print('ordinal:', today.toordinal())
print('Year   :', today.year)
print('Mon    :', today.month)
print('Day    :', today.day)

2023-02-03
ctime  : Fri Feb  3 00:00:00 2023
tuple  : tm_year  = 2023
         tm_mon   = 2
         tm_mday  = 3
         tm_hour  = 0
         tm_min   = 0
         tm_sec   = 0
         tm_wday  = 4
         tm_yday  = 34
         tm_isdst = -1
ordinal: 738554
Year   : 2023
Mon    : 2
Day    : 3

## timedeltas

Future and past dates can be calculated using basic arithmetic on two datetime objects, or by combining a datetime with a timedelta. 

Subtracting dates produces a timedelta, and a timedelta can be added or subtracted from a date to produce another date. 

The internal values for a timedelta are stored in days, seconds, and microseconds.

In [4]:
print('microseconds:', datetime.timedelta(microseconds=1))
print('milliseconds:', datetime.timedelta(milliseconds=1))
print('seconds     :', datetime.timedelta(seconds=1))
print('minutes     :', datetime.timedelta(minutes=1))
print('hours       :', datetime.timedelta(hours=1))
print('days        :', datetime.timedelta(days=1))
print('weeks       :', datetime.timedelta(weeks=1))

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds     : 0:00:01
minutes     : 0:01:00
hours       : 1:00:00
days        : 1 day, 0:00:00
weeks       : 7 days, 0:00:00

In [5]:
# The full duration of a timedelta can be retrieved as a number of seconds using total_seconds().

for delta in [datetime.timedelta(microseconds=1),
              datetime.timedelta(milliseconds=1),
              datetime.timedelta(seconds=1),
              datetime.timedelta(minutes=1),
              datetime.timedelta(hours=1),
              datetime.timedelta(days=1),
              datetime.timedelta(weeks=1),
              ]:
    print(f'{str(delta) :15} = {delta.total_seconds() :8} seconds')

0:00:00.000001  =    1e-06 seconds
0:00:00.001000  =    0.001 seconds
0:00:01         =      1.0 seconds
0:01:00         =     60.0 seconds
1:00:00         =   3600.0 seconds
1 day, 0:00:00  =  86400.0 seconds
7 days, 0:00:00 = 604800.0 seconds

## Date Arithmetic

In [8]:
today = datetime.date.today()
print('Today    :', today)

one_day = datetime.timedelta(days=1)
print('One day  :', one_day)

yesterday = today - one_day
print('Yesterday:', yesterday)

tomorrow = today + one_day
print('Tomorrow :', tomorrow)

print()
print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

#This example with date objects illustrates using timedelta objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value).

Today    : 2023-02-04
One day  : 1 day, 0:00:00
Yesterday: 2023-02-03
Tomorrow : 2023-02-05

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00

In [9]:
# A timedelta object also supports arithmetic with integers, floats, and other timedelta instances.
# In this example, several multiples of a single day are computed, with the resulting timedelta holding the appropriate number of days or hours. 
# The final example demonstrates how to compute values by combining two timedelta objects. In this case, the result is a floating point number.

one_day = datetime.timedelta(days=1)
print('1 day    :', one_day)
print('5 days   :', one_day * 5)
print('1.5 days :', one_day * 1.5)
print('1/4 day  :', one_day / 4)

# assume an hour for lunch
work_day = datetime.timedelta(hours=7)
meeting_length = datetime.timedelta(hours=1)
print('meetings per day :', work_day / meeting_length)

1 day    : 1 day, 0:00:00
5 days   : 5 days, 0:00:00
1.5 days : 1 day, 12:00:00
1/4 day  : 6:00:00
meetings per day : 7.0

## Comparing Values

In [10]:
# Both date and time values can be compared using the standard comparison operators to determine which is earlier or later.


print('Times:')
t1 = datetime.time(12, 55, 0)
print('  t1:', t1)
t2 = datetime.time(13, 5, 0)
print('  t2:', t2)
print('  t1 < t2:', t1 < t2)

print()
print('Dates:')
d1 = datetime.date.today()
print('  d1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print('  d2:', d2)
print('  d1 > d2:', d1 > d2)

Times:
  t1: 12:55:00
  t2: 13:05:00
  t1 < t2: True

Dates:
  d1: 2023-02-04
  d2: 2023-02-05
  d1 > d2: False

## Combining Dates and Times

In [12]:
# Use the datetime class to hold values consisting of both date and time components. 
# As with date, there are several convenient class methods to make creating datetime instances from other common values.

print('Now    :', datetime.datetime.now())
print('Today  :', datetime.datetime.today())
print('UTC Now:', datetime.datetime.utcnow())
print()

FIELDS = [
    'year', 'month', 'day',
    'hour', 'minute', 'second',
    'microsecond',
]

d = datetime.datetime.now()
for attr in FIELDS:
    print(f'{attr :15}: {getattr(d, attr)}')

Now    : 2023-02-04 12:23:14.041237
Today  : 2023-02-04 12:23:14.042240
UTC Now: 2023-02-04 10:23:14.042239

year           : 2023
month          : 2
day            : 4
hour           : 12
minute         : 23
second         : 14
microsecond    : 42239

## Formatting and Parsing

|   Symbol   |   Meaning   |    Example  |
| ---- | ---- | ---- |
|%a | Abbreviated weekday name   | 'Wed' |
|%A	| Full weekday name	| 'Wednesday'|
|%w	| Weekday number â€“ 0 (Sunday) through 6 (Saturday)|	'3' |
|%d	| Day of the month (zero padded) | '13' |
|%b	| Abbreviated month name | 'Jan' |
|%B	| Full month name | 'January' |
|%m	| Month of the year | '01' |
|%y	|Year without century | '16' |
|%Y	| Year with century | '2016' |
|%H	| Hour from 24-hour clock | '17' |
|%I	| Hour from 12-hour clock | '05' |
|%p	| AM/PM | 'PM' |
|%M	| Minutes | '00' |
|%S	| Seconds | '00' |
|%f	| Microseconds | '000000' |
|%z	| UTC offset for time zone-aware objects | '-0500' |
|%Z	| Time Zone name | 'EST' |
|%j	| Day of the year | '013' |
|%W	| Week of the year | '02' |
|%c	| Date and time representation for the current locale | 'Wed Jan 13 17:00:00 2016' |
|%x	| Date representation for the current locale | '01/13/16' |
|%X	| Time representation for the current locale | '17:00:00' |
|%%	| A literal % character | '%' |

In [13]:
# The default string representation of a datetime object uses the ISO-8601 format (YYYY-MM-DDTHH:MM:SS.mmmmmm). 
# Alternate formats can be generated using strftime().
# Use datetime.strptime() to convert formatted strings to datetime instances.

format = "%a %b %d %H:%M:%S %Y"

today = datetime.datetime.today()
print('ISO     :', today)

s = today.strftime(format)
print('strftime:', s)

d = datetime.datetime.strptime(s, format)
print('strptime:', d.strftime(format))

ISO     : 2023-02-04 12:24:40.438616
strftime: Sat Feb 04 12:24:40 2023
strptime: Sat Feb 04 12:24:40 2023